.App {
  text-align: center;
}
.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background: linear-gradient(180deg, #6540b4 0%, #d84fdb 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav {
  background: -webkit-linear-gradient(#3190ff, #31ff90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* margin-right:70rem; */

  padding-bottom: 2rem;
  font-size: 5rem;
}

.nav-h {
  margin-bottom: 2rem;
}

/* #login{ p} */

#boy_in_space {
  position: relative;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
